/* Variables */

$color-primario: #333;
$color-secundario: #007bff;
$color-terciario: #8a2be2; 




/* Estilos generales */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Header */
  
  header {
    align-items: center;
    background-color: #fff;
    color: #333;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  
    .logo-image {
      width: auto;
      height: 2rem;
      padding-right: 10px;
    }
  
    nav {
      a {
        color: $color-primario;
        text-decoration: none;
        padding: 10px 15px;
  
        &:hover {
          color: $color-secundario;
        }
      }
    }
  }
  
  .navbar-brand {
    font-weight: 600;
    color: #333;
    margin-left: 16px;
  }
  
  .hero {
    background-image: url(../assets/image/heroimg.jpeg);
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 130px 0;
    text-align: center;
  
    h1 {
      font-weight: 600;
      font-size: 48px;
      margin-left: 40px;
      text-align: left;
    }
  
    p {
      color: #fff;
      font-size: 18px;
      margin-left: 40px;
      margin-bottom: 40px;
      text-align: left;
    }
  }
  
  .d-flex {
    margin-left: 40px;
  }
  
  .btn-primary {
    border: none;
    background-color: $color-terciario;
    max-width: 10rem;
    margin-right: 10px;
  }
  
  .btn-secondary {
    max-width: 20rem;
  }
  
  /* Servicios */
  
  section {
    h2 {
      font-size: 2em;
      margin-bottom: 30px;
    }
  
    h3 {
      font-size: 1.5em;
      margin-top: 15px;
    }
  
    p {
      margin-bottom: 2rem;
      font-size: 1em;
      color: #666;
    }
  }
  
  /* Portafolio */
  
  .portfolio {
    .col-md-4 {
      transition: transform 0.3s, box-shadow 0.3s;
  
      &:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
    }
  
    img {
      transition: filter 0.3s;
  
      &:hover {
        filter: brightness(50%);
      }
    }
  
    h3 {
      color: #8a2be2;
      display: flex;
      justify-content: center;
      font-size: 1.5em;
      margin-top: 15px;
    }
  }
  
  figure {
    margin: 0;
    text-align: center;
  
    img {
      max-width: 100%;
      height: auto;
      width: 150px;
      margin: 0 auto;
      display: block;
    }
  }
  
  /* Forma de contacto */
  
  form {
    .form-group {
      margin-bottom: 15px;
    }
  
    label {
      font-weight: 600;
    }
  
    button {
      display: block;
      width: 100%;
    }
  }
  
  /* Grid clientes */
  
  .container {
    padding: 30px 30px 0px 30px;
  }
  
  .row {
    margin-bottom: 30px;
  }
  
  figure {
    text-align: center;
    margin: 0;
  }
  
  /* Footer */
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
  
    nav {
      a {
        color: white;
        margin: 0 10px;
  
        &:hover {
          color: #007bff;
        }
      }
    }
  }
  