$primary-color: #333;
$secondary-color: #007bff;
$tertiary-color: #8a2be2; 
$light-color: #fff;
$dark-color: #000000;
$font-family: 'Poppins', 'sans-serif';
$hero-background: url('../assets/image/heroimg.jpeg');
$portfolio-hover-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

