$primary-color: #333;
$secondary-color: #007bff;
$tertiary-color: #8a2be2; 
$light-color: #fff;
$dark-color: #000000;
$font-family-primary: 'Poppins', 'sans-serif';
$font-family-secondary: 'Poppins-regular', 'sans-serif';
$hero-background: url('../assets/image/heroimg.jpeg');
$portfolio-hover-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
$max-container-width: 
$background-color-white: #fff;
$text-color-dark: #333;
$text-color-link-hover: #007bff;
$background-color-primary: blueviolet;
$hero-background-image: url(/assets/image/heroimg.jpeg);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

