.button {
    background-color: #ffe173;
    border: none;
    border-radius: 30px;
    color: #402300;
    cursor: pointer;
    flex: 1;
    margin: 0 20px;
    padding: 10px 20px;
    text-decoration: none;
    width: 150px;
}
