h1 {
    font-family: $font-family-primary;
    font-weight: 600;
    font-size: 48px;
}

h2 {
    font-family: $font-family-primary;
    font-weight: 600;
    color: $primary-color;
    font-size: 32px;
}

h3 {
    font-family: $font-family-primary;
    font-weight: 600;
    color: $primary-color;
    font-size: 24px;
}

p {
    font-family: $font-family-primary;
    font-weight: 600;
    color: $primary-color;
    font-size: 16px;
}